<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.IO" version="4.0.0-beta-23019" targetFramework="net45" />
  <package id="System.Runtime" version="4.0.0-beta-23019" targetFramework="net45" />
  <package id="System.Xml.ReaderWriter" version="4.0.0-beta-23019" targetFramework="net45" />
  <package id="System.Xml.XDocument" version="4.0.0-beta-22605" targetFramework="net45" />
</packages>